*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    display : flex;
    justify-content: center;
    align-items: center;
}

.btn-floating {
    margin-top: 200px;
    
}


.brand-logo {
    margin-left: 20px;
}

.currentTime {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 30px;
}
.calander{
    align-items: center;

}

p{
    color: black;

}

.datepicker-date-display {
    background-color: orange !important;
}
.datepicker-calendar-container {
    color: orange;
}
.is-today {
    color: orange !important;

}
.datepicker-table td.is-selected {
    background: gray !important;
}
.datepicker-cancel, .datepicker-done {
    color: silver;
}

.card-group {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 150px;
    margin-bottom: 20px;
    border: solid;
    border-color: #F57C00;
}